@model IEnumerable<Geek_Registration_System.Models.Candidate>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ListBox("SkillID", new SelectList(item.Skills, "SkillID", "Name"))
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CandidateId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CandidateId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CandidateId })

            </td>
        </tr>
    }

</table>
